<form action="/journals" method="post">

    <div>
        <label for="text">Title</label>
        <input type="text" name="journal[title]" id="title">
    </div>
    <div>
        <label for="text">Date</label>
        <input type="text" name="journal[date]" id="date" value="<%= DateTime.now.strftime("%m/%d/%Y") %>">
    </div>
    <div>
        <label for="text">Free-Writing</label>
        <textarea name="journal[content]" id="content" cols="30" rows="10"></textarea>
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>