<% @title = "Your Journals | Daily Practice" %>

<p>Your journals</p>
<ul>

    <% @journals.each do |journal| %>
        <li> 
            <h2><a href="/journals/<%= journal.id %>"><%= journal.title %></a></h2>
            <p><em><%= journal.date %></em></p>
            <p><%= break_lines(journal.content) %></p>
        </li>
    <% end %>

</ul>