<% @title = "Your Journals | Daily Practice" %>

<div id="journals" class="container">

    <div class="row">

        <div class="col-12">
            <h1>Revisit Your Practices</h1>
        </div>
    
    </div>

    <div class="row">

        <div class="col-12 d-flex flex-wrap flex-fill">
            <% @journals.each do |journal| %>
                <div class="jumbotron bg-white">
                    <p class="lead"><a href="/journals/<%= journal.id %>"><%= journal.date %> &raquo; <%= journal.title %></a></p>
                </div>
            <% end %>
        </div>
    
    </div>

</div>