<% @title = "Your Journals | Daily Practice" %>

<div id="journals" class="container">

    <div class="row">

        <div class="col-12">
            <h1>Revisit Your Practices</h1>
        </div>
    
    </div>

    <div class="row">

        <div class="leaf-2 col-12 d-flex flex-wrap flex-fill">
            <ul>
                <% @journals.each do |journal| %>
                <li>
                    <p class="lead"><a href="/journals/<%= journal.id %>"><%= journal.created_at.strftime('%A, %b. %d %Y') %> &bull; <%= journal.title %></a></p>
                </li>
            <% end %>
        </div>
    
    </div>

</div>