<form action="/journals" method="post">

    <div class="form-group">
        <label for="text">Title</label>
        <input class="form-control form-control-lg" type="text" name="journal[title]" id="title">
    </div>
    <div class="form-group">
        <label for="text">Date</label>
        <input class="form-control form-control-lg" type="text" name="journal[date]" id="date" value="<%= DateTime.now.strftime("%m/%d/%Y") %>">
    </div>
    <div class="form-group">
        <label for="text">Free-Writing</label>
        <textarea class="form-control form-control-lg" name="journal[content]" id="content" cols="30" rows="10"></textarea>
    </div>
    <div class="form-group">
        <button class="btn btn-primary" type="submit">Submit</button>
    </div>
</form>